.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  button {
    width: 40px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: rgba(253, 253, 255, 0.705);
    color: #000000;
    border: none;

    &.active {
      font-weight: 900;
      border: 1px solid black;
      color: #101010;
      border-radius: 0;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
